In [43]:
# Import library
import pandas as pd
import numpy as np
import bar_chart_race as bcr

In [44]:
#import csv

df = pd.read_csv("C:/Users/Utilisateur/Downloads/regularite-mensuelle-intercites.csv", sep = ";")

In [5]:
df.head()

,Date,Départ,Arrivée,Nombre de trains programmés,Nombre de trains ayant circulé,Nombre de trains annulés,Nombre de trains en retard à l'arrivée,Taux de régularité,Nombre de trains à l'heure pour un train en retard à l'arrivée
0,2022-10,LYON,NANTES,61,60,1,13,78.333333,3.615385
1,2022-10,NANTES,LYON,61,61,0,11,81.967213,4.545455
2,2022-10,BORDEAUX-ST-JEAN,MARSEILLE-ST-CHARLES,216,214,2,67,68.691589,2.194030
3,2022-10,MARSEILLE-ST-CHARLES,BORDEAUX-ST-JEAN,217,216,1,67,68.981481,2.223881
4,2022-10,CAHORS/BRIVE,PARIS-AUSTERLITZ,189,189,0,28,85.185185,5.750000

# Data prep

In [6]:
df.columns

Index(['Date', 'Départ', 'Arrivée', 'Nombre de trains programmés',
       'Nombre de trains ayant circulé', 'Nombre de trains annulés',
       'Nombre de trains en retard à l'arrivée', 'Taux de régularité',
       'Nombre de trains à l'heure pour un train en retard à l'arrivée'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4561 entries, 0 to 4560
Data columns (total 9 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   Date                                                            4561 non-null   object
 1   Départ                                                          4561 non-null   object
 2   Arrivée                                                         4561 non-null   object
 3   Nombre de trains programmés                                     4561 non-null   int64
 4   Nombre de trains ayant circulé                                  4561 non-null   int64
 5   Nombre de trains annulés                                        4561 non-null   int64
 6   Nombre de trains en retard à l'arrivée                          4561 non-null   int64
 7   Taux de régularité                                              4561 non-null   float64
 8   Nombre de trains à l'heure pour un train en retard à l'arrivée  4561 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 320.8+ KB

In [45]:
df = df[["Date", "Arrivée", "Nombre de trains en retard à l'arrivée"]]

In [46]:
df["Date_2"] = pd.to_datetime(df["Date"])

In [47]:
df = df.drop(columns = ["Date"])

In [48]:
df.head()

                Arrivée  Nombre de trains en retard à l'arrivée     Date_2
0                NANTES                                      13 2022-10-01
1                  LYON                                      11 2022-10-01
2  MARSEILLE-ST-CHARLES                                      67 2022-10-01
3      BORDEAUX-ST-JEAN                                      67 2022-10-01
4      PARIS-AUSTERLITZ                                      28 2022-10-01

In [49]:
df['total_retard'] = df.sort_values('Date_2').groupby('Arrivée').cumsum().sort_index()

In [50]:
df.head()

,Arrivée,Nombre de trains en retard à l'arrivée,Date_2,total_retard
0,NANTES,13,2022-10-01,2097
1,LYON,11,2022-10-01,378
2,MARSEILLE-ST-CHARLES,67,2022-10-01,3035
3,BORDEAUX-ST-JEAN,67,2022-10-01,6625
4,PARIS-AUSTERLITZ,28,2022-10-01,9296

In [51]:
df = df[["Date_2", "Arrivée", "total_retard"]]

In [52]:
df = df.rename(columns = {"Arrivée" : "Gare arrivée", "Date_2" : "Date"})

In [53]:
df.head()

        Date          Gare arrivée  total_retard
0 2022-10-01                NANTES          2097
1 2022-10-01                  LYON           378
2 2022-10-01  MARSEILLE-ST-CHARLES          3035
3 2022-10-01      BORDEAUX-ST-JEAN          6625
4 2022-10-01      PARIS-AUSTERLITZ          9296

In [54]:
df = pd.pivot_table(df, index=['Date'], columns=['Gare arrivée'], values=['total_retard'])

In [55]:
df.head()

             total_retard                                                  \
Gare arrivée       AMIENS BAYONNE BELFORT BORDEAUX-ST-JEAN BOULOGNE-VILLE
Date
2014-01-01           53.0     NaN     8.0        26.000000            6.0
2014-02-01          105.0     NaN    20.0        54.666667           10.0
2014-03-01          137.0     NaN    32.0       101.000000           12.0
2014-04-01          171.0     NaN    36.0       149.333333           18.0
2014-05-01          183.0     NaN    82.0       169.666667           33.0

                                                                        \
Gare arrivée BOURG-ST-MAURICE/ST-GERVAIS BOURGES BRIANÇON BRIVE/CAHORS
Date
2014-01-01                           NaN     6.0      NaN          NaN
2014-02-01                           NaN    20.0      NaN          NaN
2014-03-01                           NaN    30.0      NaN          NaN
2014-04-01                           NaN    42.0      NaN          NaN
2014-05-01                           NaN    64.0      NaN          NaN

                      ...                                                \
Gare arrivée BÉZIERS  ... RODEZ/ALBI ROUEN ROUEN-RIVE-DROITE ST-QUENTIN
Date                  ...
2014-01-01       1.0  ...        NaN  23.0               NaN        NaN
2014-02-01       1.0  ...        NaN  53.0               NaN        NaN
2014-03-01       1.0  ...        NaN  71.0               NaN        NaN
2014-04-01       1.0  ...        NaN  92.0               NaN        NaN
2014-05-01      16.0  ...        NaN  97.0               NaN        NaN

                                                          \
Gare arrivée TOULOUSE-MATABIAU TOULOUSE-MATABIAU/CERBERE
Date
2014-01-01                 4.0                       NaN
2014-02-01                 8.0                       NaN
2014-03-01                13.0                       NaN
2014-04-01                19.0                       NaN
2014-05-01                31.0                       NaN


Gare arrivée TOULOUSE-MATABIAU/RODEZ  TOURS TROUVILLE-DEAUVILLE TROYES
Date
2014-01-01                       NaN   18.0                13.0   24.0
2014-02-01                       NaN   57.0                23.0   50.0
2014-03-01                       NaN   75.0                32.0   80.0
2014-04-01                       NaN  107.0                41.0   99.0
2014-05-01                       NaN  139.5                59.0  119.0

[5 rows x 47 columns]

In [28]:
df.columns

MultiIndex([('total_retard',                      'AMIENS'),
            ('total_retard',                     'BAYONNE'),
            ('total_retard',                     'BELFORT'),
            ('total_retard',            'BORDEAUX-ST-JEAN'),
            ('total_retard',              'BOULOGNE-VILLE'),
            ('total_retard', 'BOURG-ST-MAURICE/ST-GERVAIS'),
            ('total_retard',                     'BOURGES'),
            ('total_retard',                    'BRIANÇON'),
            ('total_retard',                'BRIVE/CAHORS'),
            ('total_retard',                     'BÉZIERS'),
            ('total_retard',                        'CAEN'),
            ('total_retard',                     'CERBERE'),
            ('total_retard',                   'CHERBOURG'),
            ('total_retard',            'CLERMONT-FERRAND'),
            ('total_retard',                   'GRANVILLE'),
            ('total_retard',                     'HENDAYE'),
            ('total_retard',             'LATOUR-DE-CAROL'),
            ('total_retard',                    'LE HAVRE'),
            ('total_retard',                     'LIMOGES'),
            ('total_retard',             'LOURDES/HENDAYE'),
            ('total_retard',                        'LYON'),
            ('total_retard',              'LYON-PART-DIEU'),
            ('total_retard',        'MARSEILLE-ST-CHARLES'),
            ('total_retard',                    'MAUBEUGE'),
            ('total_retard',            'MAUBEUGE/CAMBRAI'),
            ('total_retard',                      'MODANE'),
            ('total_retard',                      'NANTES'),
            ('total_retard',                      'NEVERS'),
            ('total_retard',                  'NICE-VILLE'),
            ('total_retard',                       'NÎMES'),
            ('total_retard',                     'ORLÉANS'),
            ('total_retard',            'PARIS-AUSTERLITZ'),
            ('total_retard',                 'PARIS-BERCY'),
            ('total_retard',                   'PARIS-EST'),
            ('total_retard',                  'PARIS-NORD'),
            ('total_retard',             'PARIS-ST-LAZARE'),
            ('total_retard',             'PARIS-VAUGIRARD'),
            ('total_retard',                  'RODEZ/ALBI'),
            ('total_retard',                       'ROUEN'),
            ('total_retard',           'ROUEN-RIVE-DROITE'),
            ('total_retard',                  'ST-QUENTIN'),
            ('total_retard',           'TOULOUSE-MATABIAU'),
            ('total_retard',   'TOULOUSE-MATABIAU/CERBERE'),
            ('total_retard',     'TOULOUSE-MATABIAU/RODEZ'),
            ('total_retard',                       'TOURS'),
            ('total_retard',         'TROUVILLE-DEAUVILLE'),
            ('total_retard',                      'TROYES')],
           names=[None, 'Gare arrivée'])

In [56]:
df.index.name = None
df.columns = [col[1] for col in df.columns]

In [57]:
df.shape

(106, 47)

In [58]:
df = df.fillna(0).astype(int)

In [36]:
# 10 first gare

gare = set()
for index, row in df.iterrows():
    gare |= set(row[row > 0].sort_values(ascending=False).head(10).index)
df = df[list(gare)]

In [62]:
df.columns

Index(['AMIENS', 'BAYONNE', 'BELFORT', 'BORDEAUX-ST-JEAN', 'BOULOGNE-VILLE',
       'BOURG-ST-MAURICE/ST-GERVAIS', 'BOURGES', 'BRIANÇON', 'BRIVE/CAHORS',
       'BÉZIERS', 'CAEN', 'CERBERE', 'CHERBOURG', 'CLERMONT-FERRAND',
       'GRANVILLE', 'HENDAYE', 'LATOUR-DE-CAROL', 'LE HAVRE', 'LIMOGES',
       'LOURDES/HENDAYE', 'LYON', 'LYON-PART-DIEU', 'MARSEILLE-ST-CHARLES',
       'MAUBEUGE', 'MAUBEUGE/CAMBRAI', 'MODANE', 'NANTES', 'NEVERS',
       'NICE-VILLE', 'NÎMES', 'ORLÉANS', 'PARIS-AUSTERLITZ', 'PARIS-BERCY',
       'PARIS-EST', 'PARIS-NORD', 'PARIS-ST-LAZARE', 'PARIS-VAUGIRARD',
       'RODEZ/ALBI', 'ROUEN', 'ROUEN-RIVE-DROITE', 'ST-QUENTIN',
       'TOULOUSE-MATABIAU', 'TOULOUSE-MATABIAU/CERBERE',
       'TOULOUSE-MATABIAU/RODEZ', 'TOURS', 'TROUVILLE-DEAUVILLE', 'TROYES'],
      dtype='object')

# Generate video

In [61]:
bcr.bar_chart_race(
    df=df,
    filename="Retard_train_sncf_2.mp4",
    n_bars=10,
    period_fmt='%B %d, %Y',
    title='Retard des trains SNCF depuis 2014'
)

C:\Users\Utilisateur\anaconda3\envs\IA\lib\site-packages\matplotlib\animation.py:887: UserWarning: Animation was deleted without rendering anything. This is most likely not intended. To prevent deletion, assign the Animation to a variable, e.g. `anim`, that exists until you have outputted the Animation using `plt.show()` or `anim.save()`.
  warnings.warn(
C:\Users\Utilisateur\anaconda3\envs\IA\lib\site-packages\bar_chart_race\_make_chart.py:286: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_yticklabels(self.df_values.columns)
C:\Users\Utilisateur\anaconda3\envs\IA\lib\site-packages\bar_chart_race\_make_chart.py:287: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))
C:\Users\Utilisateur\anaconda3\envs\IA\lib\site-packages\bar_chart_race\_make_chart.py:226: UserWarning: Some of your columns never make an appearance in the animation. To reduce color repetition, set `filter_column_colors` to `True`
  warnings.warn("Some of your columns never make an appearance in the animation. "